
<main class="center" id="main">
<pd-breadcrumbs class="container">
<div class="container">
  <h1>breadcrumbs forever!!</h1>
</div>
</pd-breadcrumbs>

  <div class="page-area">

    <pd-article
             title="Stay on track"
             content="Do you know where you str spending your money?
             If you recall you will get surprised!  Proper budget management depends on app
             will help you with that!">
  </pd-article>

   <pd-article>
       <h1>About</h1>
       <div>
           Do you know where you str spending your money?
           If you recall you will get surprised!  Proper budget management depends on app
           will help you with that!
       </div>
   </pd-article>
   <pd-article>
    <h1>About</h1>
    <div>
        Do you know where you str spending your money?
        If you recall you will get surprised!  Proper budget management depends on app
        will help you with that!
    </div>
</pd-article>
<pd-article>
  <h1>Free</h1>
  <div>
      This app free!!! And you are the only one holding your data!
  </div>
</pd-article>
   <pd-article>
       <h1>Alert</h1>
       <div>
           What if your cloths budget ended?  You will het an alert.  The goal is never go over the budget.
       </div>
   </pd-article>

   <pd-article>
       <h1>Results</h1>
       <div>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit.
           Iste sapiente, magni omnis mollitia aut totam praesentium ducimus blanditiis minus numquam magnam ipsam dolorum reiciendis ut voluptatibus atque quo placeat debitis.
       </div>
   </pd-article>

   <article>
       <h1>Chart</h1>
       <p>
<canvas id="myChart" width="680" height="680"></canvas>
       </p>
      </article>

  </div>

 </main>
